<div class="container">
  <% if @team.errors.any? %>
    <h2>The following errors prevented the article from being saved</h2>
    <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-10">
     <%= form_for(@team) do |form| %>
            <%= form.label :name %>
            <%= form.text_field :name %>

            <%= form.label :country %>
            <%= form.text_field :country %>

            <%= form.label :founded %>
            <%= form.text_field :founded %>

            <%= form.label :description %>
            <%= form.text_area :description %>

            <%= form.submit %>
            <% end %>

            <%= link_to "Back to Teams", teams_path %>
    </div>
  </div>
</div>