
<div class="container mt-5">
  <% if @player.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading">The following errors prevented the player from being saved:</h4>
      <ul>
        <% @player.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for(@player, html: { class: 'form' }) do |form| %>
  <table class="form-table">
    <tr class="form-group">
      <td><%= form.label :name, class: 'form-label' %></td>
      <td><%= form.text_field :name, class: 'form-control' %></td>
    </tr>
    
    <tr class="form-group">
      <td><%= form.label :team_id, class: 'form-label' %></td>
      <td><%= form.text_field :team_id, class: 'form-control' %></td>
    </tr>

    <tr class="form-group">
      <td><%= form.label :age, class: 'form-label' %></td>
      <td><%= form.number_field :age, class: 'form-control' %></td>
    </tr>

    <tr class="form-group">
      <td><%= form.label :position, class: 'form-label' %></td>
      <td><%= form.text_field :position, class: 'form-control' %></td>
    </tr>

    <tr class="form-group">
      <td><%= form.label :role, class: 'form-label' %></td>
      <td><%= form.select :role, options_for_select(Player::ROLES), {}, class: 'form-control' %></td>
    </tr>

    <tr class="form-group">
      <td><%= form.check_box :is_captain, class: 'form-check-input' %></td>
      <td><%= form.label :is_captain, class: 'form-check-label' %></td>
    </tr>

    <tr class="form-group">
      <td><%= form.check_box :is_active, class: 'form-check-input' %></td>
      <td><%= form.label :is_active, class: 'form-check-label' %></td>
    </tr>

    <tr class="form-group">
      <td><%= form.label :description, class: 'form-label' %></td>
      <td><%= form.text_area :description, class: 'form-control' %></td>
    </tr>

    <tr class="form-group">
      <td colspan="2"><%= form.submit 'Save Player', class: 'btn btn-primary' %></td>
    </tr>
  </table>
<% end %>


</div>
