<!DOCTYPE html>
<html>
  <head>
    <title>T20Application</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
     <link rel="icon" href="<%= asset_path('t20.png') %>" type="image/x-icon">
     <link rel="shortcut icon" href="<%= asset_path('t20.png') %>" type="image/x-icon">
  </head>
  <body class="d-flex flex-column min-vh-100">
  <%= render 'layouts/header' %>
  <div class="container my-4">
    <%= render 'layouts/messages' %> 
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
